.authenticationForm{
    width: 50vw;
    height: auto;
    background: #bccfbc;
    padding: 2vw;
    border: 1px solid #66FCF1;
    background-color: #1F2833;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.formSection {
    width: 60%;
    margin: auto;    
}

.formSection > h4 {
    color: #66FCF1;
    font-size: 30px;
}

.authenticationForm input {

    font-size: 28px;
    text-align: center;
    color: #45A29E;
}

.authenticationForm button{
    width: 20%;
    font-size: 28px;
    margin: 5% 0;
    color: white;
    background-color: #1F2833;
}

.postForm{
    border: 1px solid #66FCF1;
    background-color: #1F2833;
    width: 50vw;
    height: auto;
    padding: 2vw;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.postForm input {

    font-size: 28px;
    text-align: center;
    width: 100%;
}

.postForm textarea {

    font-size: 28px;
    width: 100%;
    height: 20vh;
    margin: 0;
    resize: none;
}

.postForm button{
    width: 20%;
    font-size: 28px;
    margin: 5% 0;
    color: white;
    background-color: #1F2833;
}