.Post{

    width: 80%;
    min-height: 20%;
    margin: 2em auto;
    padding: 0em 1em ;
    border: 1px solid #66FCF1;
    background-color: #1F2833;
}

.PostTitle{
    color: #66FCF1;
}

.PostContent{
    color: #45A29E;
}
